<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to the Forums at Studentpeaceprize.org, <%= @user.name %>!</h1>
    <p>
    We've created a user for you and hope that you will make use of the forum.<br/>
    </p>
    <p>
    To login to the site, just follow this link: <%= @url %>.<br />
    Log in with your e-mail address.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>


